*,
*::after,
*::before,
h1,
h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #23252c;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

/*-- Card Styling --*/
.card {
  background-color: #1a1b21;
  max-width: 317px;
  border-radius: 10px;
  overflow: hidden;
  margin: 44px 0;
}

.card-info {
  text-align: center;
}

/*-- header text --*/
.name {
  font-size: 1.6rem;
  padding: 1.5rem 0 0.375rem;
  line-height: 30px;
  color: #ffffff;
}

.profession {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #f3bf99;
}

/*-- header link --*/
.site {
  text-decoration: none;
  font-size: 11px;
  line-height: 150%;
  color: #f5f5f5;
  position: relative;
}

/*-- Button Styling --*/
.mail-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 1rem 1.5rem;
  padding: 0.5625rem 5.9375rem;
  background: #ffffff;
  color: #374151;
  border-radius: 6px;
  cursor: pointer;
}
.mail-icon {
  width: 16px;
}
/*-- About - interests --*/

.about-interests > h2 {
  margin: 0 1.5rem 0.3125rem;
  font-size: 1rem;
  line-height: 150%;
  color: #f5f5f5;
}

.about-interests > p {
  margin: 0 1.5rem 1.5rem;
  font-size: 0.625rem;
  line-height: 150%;
  color: #dcdcdc;
}
/*-- Footer - icons --*/
footer {
  display: flex;
  background: #161619;
  justify-content: center;
  align-items: center;
  padding: 1.1875rem 3rem;
}

.socialMedia {
  display: flex;
  gap: 24px;
}

/*-- hover actions --*/
.socialIcons:hover,
.socialIcons:focus,
.mail-button:hover,
.mail-button:focus {
  transition: 300ms ease-in-out;
  transform: translateY(-3px);
}

.site::after {
  content: '';
  position: absolute;
  background-color: #f5f5f5;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.5s;
}

.site:hover::after {
  width: 100%;
}
